* {
    box-sizing: border-box;
}

.container {
    height: 880px;
    width: 800px;
    display: flex;
    flex-direction: column;
}

.display {
    width: 800px;
    height: 80px;
    font-size: 60px;
}

.keypad {
    width: 800px;
    height: 720px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.key {
    width: 24%;
    height: 24%;
    font-size: 80px;
}

.extras {
    height: 80px;
    width: 800px;
    display: flex;
    gap: 8px;
    margin-top: 8px;
}

#clear,
#backspace {
    height: 100%;
    width: 49%;
    font-size: 50px;
}