* {
    box-sizing: border-box;
}

.container {
    height: 800px;
    width: 800px;
    display: flex;
    flex-direction: column;
}

.display {
    width: 800px;
    height: 80px;
}

.keypad {
    width: 800px;
    height: 720px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.key {
    width: 24%;
    height: 24%;
    font-size: 80px;
}