.container {
    height: 800px;
    width: 800px;
    display: flex;
    flex-direction: column;
}

.display {
    width: 800px;
    height: 80px;
}

.keypad {
    width: 800px;
    height: 720px;
    display: flex;
    flex-wrap: wrap;
}

.key {
    width: 25%;
    height: 25%;
}